# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Data files
data/*.csv

# Model files
models/*.joblib
!models/classical_logistic_regression_tuned.joblib
models/biobert_finetuned/

# Output files
outputs/
